<h1>Lista de Entregas</h1>

<section>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Entregas</mat-card-title>
      <mat-card-subtitle>
        Acompanhe todas as entregas
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>

      <table mat-table [dataSource]="tableD">
        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="motorista">
          <th mat-header-cell *matHeaderCellDef>Motorista</th>
          <td mat-cell *matCellDef="let element">{{ element.motorista.nome }}</td>
        </ng-container>

        <!-- origem Column -->
        <ng-container matColumnDef="cliente_origem.nome">
          <th mat-header-cell *matHeaderCellDef>Remetente (R)</th>
          <td mat-cell *matCellDef="let element">{{ element.cliente_origem.nome }}</td>
        </ng-container>

        <!-- origem Column -->
        <ng-container matColumnDef="cliente_origem.endereco">
          <th mat-header-cell *matHeaderCellDef>Endereço (R)</th>
          <td mat-cell *matCellDef="let element">{{ element.cliente_origem.endereco }}</td>
        </ng-container>

        <!-- origem Column -->
        <ng-container matColumnDef="cliente_origem.bairro">
          <th mat-header-cell *matHeaderCellDef>Bairro (R)</th>
          <td mat-cell *matCellDef="let element">{{ element.cliente_origem.bairro }}</td>
        </ng-container>

        <!-- origem Column -->
        <ng-container matColumnDef="cliente_origem.cidade">
          <th mat-header-cell *matHeaderCellDef>Cidade (R)</th>
          <td mat-cell *matCellDef="let element">{{ element.cliente_origem.cidade }}</td>
        </ng-container>

        <!-- destino Column -->
        <ng-container matColumnDef="cliente_destino.nome">
          <th mat-header-cell *matHeaderCellDef>Dentinatário (D)</th>
          <td mat-cell *matCellDef="let element">{{ element.cliente_destino.nome }}</td>
        </ng-container>

        <!-- destino Column -->
        <ng-container matColumnDef="cliente_destino.endereco">
          <th mat-header-cell *matHeaderCellDef>Endereço (D)</th>
          <td mat-cell *matCellDef="let element">{{ element.cliente_destino.endereco }}</td>
        </ng-container>

        <!-- destino Column -->
        <ng-container matColumnDef="cliente_destino.bairro">
          <th mat-header-cell *matHeaderCellDef>Bairro (D)</th>
          <td mat-cell *matCellDef="let element">{{ element.cliente_destino.bairro }}</td>
        </ng-container>

        <!-- destino Column -->
        <ng-container matColumnDef="cliente_destino.cidade">
          <th mat-header-cell *matHeaderCellDef>Cidade (D)</th>
          <td mat-cell *matCellDef="let element">{{ element.cliente_destino.cidade }}</td>
        </ng-container>

        <!-- status Column -->
        <ng-container matColumnDef="status_entrega">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">
            {{ element.status_entrega }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="configTableD"></tr>
        <tr mat-row *matRowDef="let row; columns: configTableD"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</section>
